*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
}

.container1{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 5px;
}

/* HEADER */
#background-logo{
    background-color: white;
    height: 50px;
    margin-bottom: 30px;
}

.title{
    font-size: 30px;
    font-family: sans-serif;
    vertical-align: middle;
}

img{
    height: 100%;
    vertical-align: middle;
}
/* FINE HEADER */

/* MAIN */

/* BUTTON */
.container{
    margin-bottom: 2px;
    margin-left: 200px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}  

#button-blue{
    color: white;
    background-color: #47adf1;
    border-radius: 3px;
    padding: 3px;
    border: 1px solid #47adf1;
}

#button-grey{
    background-color: white;
    color: grey;
    border: 1px solid;
    border-radius: 3px;
    padding: 3px;
}

/* FINE BUTTON */

/* ELENCHI NON RODINATI */

ul{
    list-style-type: none;
    margin-bottom: 20px;
}

li{
    margin-bottom: 10px;
}

.tli{
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.stile{
    border-radius: 10px;
    padding: 5px 5px;
    font-size: 8px;
    color: white;
}

.editorial{
    background-color: #45abea;
}

.q1_goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #f29e33;
}

.website{
    background-color: #d863a1;
}

.sales{
    background-color: #b0c926;
}

.stail{
    border-radius: 50%;
    padding: 1px 3px;
    font-size: 10px;
    margin-right: 10px;
}

.✓{
    color: #59bca5;
    border: 1px solid #59bca5 ;
}

.x{
    color: #e8443d;
    border: 1px solid #e8443d ;;
}
/* FINE ELENCHI NON RODINATI */

/* FINE MAIN */