*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
}

/* HEADER */
#background-logo{
    background-color: white;
    height: 70px;
}

img{
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

h1{
    display: inline;
    font-family: sans-serif;
   
}
/* FINE HEADER */

/* MAIN */

/* BUTTON */
#container{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #ffffff;
    padding: 20px;
}

#button-blue{
    background-color: #47adf1;
    border-radius: 3px;
    padding: 3px;
    border: 0;
}

#button-grey{
    background-color: white;
    color: grey;
    border-radius: 3px;
    padding: 3px;
}

hr{
    margin-left: 200px;
    margin-right: 200px; 
}
/* FINE BUTTON */

/* FINE MAIN */